body {
  /* background-image: url("/assets/background.jpg"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}
